/* DEFAULT CLASSES */

.not-selectable {
    user-select: none;
}

.balanced-text {
    text-wrap: balance;
}

.section {
    background: none;
}

.section-container {
    width: 85%;
    max-width: calc(6.5/10 * 1920px);
    margin: auto;
}

.section-title {
    position: relative;
    color: #fff;
    font-size: 58px;
    font-weight: 700;
    text-align: center;
    text-wrap: balance;
    text-shadow: 0 0 20px #0007;
    margin-bottom: 140px;
}

.section-title::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #18337700, var(--main-purple), #18337700, #18337700, var(--main-purple), #18337700);
    box-shadow: 0 0 18px #a436f238;
    z-index: -2;
}

.icon {
    color: #fff;
    stroke: 2;
}