/* DEFAULT CLASSES */

.not-selectable {
    user-select: none;
}

.balanced-text {
    text-wrap: balance;
}

.section {
    background: none;
}

.section-container {
    width: 85%;
    max-width: calc(6.5/10 * 1920px);
    margin: auto;
}

.section-title {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    text-wrap: balance;
    text-shadow: 0 0 20px #0005;
}
