.footer {
    background-color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.06);
    box-shadow: 0 0 20px #0008;
    color: var(--main-black);
}

.footer-container {
    padding: 55px 0;
    display: flex;
    align-items: start;
}

.footer-banner {
    padding-right: 60px;
}

.footer-banner>* {
    display: block;
}

.footer-banner-logo {
    width: 180px;
    margin-bottom: 26px;
}

.footer-banner-callout {
    color: #646464;
    line-height: 1.2;
    font-size: 15px;
    font-weight: 400;
}

.footer-grid {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    padding-right: 45px;
}

.footer-section-title {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-grid {
    border: 1px solid #0008;
    border-top: none;
    border-bottom: none;
    padding-left: 60px;
}

.footer-section-link {
    display: inline-block;
    font-size: 14px;
    transition:
        transform .2s ease-in-out,
        color .2s ease-in-out;
}


.footer-section-link:hover {
    color: var(--main-purple);
    transform: scale(1.05);
}

.footer-section-link:active {
    color: var(--gradient-violet-dark);
    transform: scale(.98);
}

.footer-section-item:not(:last-of-type) {
    margin-bottom: 8px;
}

.footer-offices {
    flex-grow: 1;
    margin-left: 60px;
    position: relative;
    height: 100%;
}

.footer-offices-title {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-offices-list {
    margin-bottom: 25px;
}

.footer-offices-item {
    display: flex;
    align-items: center;
    justify-content: start;
}

.footer-offices-item:not(:last-of-type) {
    margin-bottom: 6px;
}

.footer-offices-icon {
    color: var(--main-black);
    width: 22px;
    stroke-width: 2;
    margin-right: 10px;
}

.footer-offices-text {
    font-size: 14px;
}

.footer-offices-rights {
    font-size: 13px;
}