.group {
    position: relative;
    overflow: hidden;
}

.group-container {
    position: relative;
    text-align: left;

    color: #fff;
    height: 100vh;
    max-height: calc(1280px * 0.5);

    display: flex;
    align-items: center;
    justify-content: start;
}

.group-main-quote {
    font-size: 45px;
    margin-bottom: 50px;
    line-height: 1.08;
}

.group-main-quote strong:first-of-type {
    color: var(--main-purple);
}

.group-main-quote strong:last-of-type {
    color: var(--main-blue);
}

.group-secondary-quote {
    line-height: 1.5;
    font-size: 15.5px;
    color: rgb(240, 240, 240);
    display: block;
    text-wrap: wrap;
    max-width: 340px;
}

.group-bg {
    overflow: hidden;
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: -48 !important;
    display: flex;
    align-items: center;
    justify-content: end;
}

.group-bg::before {
    content: '';
    position: absolute;

    top: 0;
    right: 35px;

    height: 100%;
    width: 8px;

    transform: translateX(-35px);

    background-color: rgba(255, 255, 255, 0.038);
    border: 1px solid rgba(255, 255, 255, 0.05);
    transform: translateX(50%);
    z-index: -18;
}

.group-bg-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 50%
}

.group-bg-box:first-of-type {
    transform: translateY(-140px);
}

.group-bg-box:nth-of-type(2) {
    transform: translateY(0);
}

.group-bg-box:last-of-type {
    transform: translateY(140px);
}

.group-bg-icon {
    position: relative;
    width: 70px;
    stroke-width: 2;
    stroke: #fff;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.06);
    padding: 14px;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px #00000026;
    transition: scale .2s ease, background-color .2s ease;
}

.group-box-text {
    text-wrap: nowrap;
    font-weight: 500;
    position: absolute;
    font-size: 14px;
    padding: 0 10px;
    color: #fffd;
    background: linear-gradient(to left, #681FB600, #681FB6, #681FB6, #681FB6, #681FB600);
    right: 0;
    transform: translateX(calc(-150px + 50%));
}

.group-bg-box::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 3.4px;
    background-color: var(--main-purple);
    box-shadow: 0 0 18px #a436f238;
    z-index: -2;
}

.group-bg-box:nth-of-type(2):after {
    width: 186px;
}

.group-bg-box:first-of-type .group-box-text::after {
    content: '';
    position: absolute;
    width: 44px;
    height: 103px;
    border-top-left-radius: 22px;
    border: 3.8px solid var(--main-purple);
    border-bottom: none;
    border-right: none;
    background: none;
    top: 50%;
    left: -100%;
    transform: translate(22px, -2px);
    z-index: -3;
}

.group-bg-box:nth-of-type(2) .group-box-text::after {
    content: '-15% Costos';
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    transform: translate(0, 50%);
    color: #fff;
    border: 2px solid #fff;
    background: none;
    border-radius: var(--border-radius);
    padding: 20px 15px;
    text-shadow: 0 0 10px #fff3;
    box-shadow: 0 0 20px #fff3, inset 0 0 12px #fff3;
    bottom: 50%;
    left: -200px;
    z-index: 20 !important;
}

.group-bg-box:last-of-type .group-box-text::after {
    content: '';
    position: absolute;
    width: 44px;
    height: 103px;
    border-bottom-left-radius: 22px;
    border: 3.8px solid var(--main-purple);
    border-top: none;
    border-right: none;
    background: none;
    bottom: 0;
    left: -100%;
    transform: translate(-48px, -5px);
    z-index: -3;
}

.group-ad {
    margin-bottom: 48px;
}

.group-ad-box {
    font-size: 12px;
    font-weight: 700;
    background-color: var(--main-purple);
    padding: 4px 7px;
    border-radius: 5px;
    margin-right: 6px;
}


@media(max-width: 780px){

    .group-bg{
        top: 20%;
        right: 0%;
    }

    .group-bg-box:first-of-type {
        transform: translateY(-120px);
    }
    
    .group-bg-box:nth-of-type(2) {
        transform: translateY(0);
    }
    
    .group-bg-box:last-of-type {
        transform: translateY(120px);
    }


    .group-bg-box:first-of-type .group-box-text::after{
        height: 90px;
        width: 60px;
        left: -110px;
    }

    .group-bg-box:nth-of-type(2) .group-box-text::after{
        left: -165px;
        font-size: 15px;
    }

    .group-bg-box:last-of-type .group-box-text::after{
        height: 89px;
        width: 60px;
        left: -65px;
        top: -79px;
    }

    .group-bg-box::after{
        width: 200px;
    }
}

@media(max-width: 480px){
    .group-bg{
        display: none;
    }
}

