/* HEADER */

.header {
    padding: 20px 0;
    box-shadow: 0 0 20px #0003;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

/* LOGO */

.header-brand {
    flex: 1;
}

.header-logo-link:hover>.header-logo {
    transform: scale(1.02);
}

.header-logo-link:active>.header-logo {
    transform: scale(.98);
}

.header-logo {
    width: 185px;
    transition:
        transform .2s ease-in-out;
}

/* NAV */

.header-nav {
    flex: 2.8;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: start;

    gap: 30px;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px 10px;
    border-radius: var(--border-radius);

    transition:
        background-color .2s ease-in-out,
        transform .2s ease-in-out;
}

.nav-link:hover {
    background-color: #b4c1db2d;
}

.nav-link:active {
    transform: scale(.95);
}

.nav-link-icon {
    width: 0;

    stroke: var(--main-black);
    stroke-width: 2;

    transition:
        margin-right .2s ease-in-out,
        stroke .2s ease-in-out,
        width .2s ease-in-out;
}

.nav-link:hover>.nav-link-icon {
    width: 24px;
    margin-right: 5px;
    stroke: var(--main-blue);
}

.nav-link-text {
    font-size: 15px;
    font-weight: 500;
    color: var(--main-black);
    transition:
        color .2s ease-in-out;
}

.nav-link:hover>.nav-link-text {
    color: var(--main-blue);
}

/* CONTACT BUTTON */

.contact-button {
    margin-left: auto;
    transition:
        transform .2s ease-in-out;
}

.contact-button>.nav-link {
    box-shadow: 0 0 5px #0003;
    background-color: var(--main-blue);

    padding: 14.5px 19px;
    border-radius: var(--border-radius);

    transition:
        background-color .2s ease-in-out;
}

.contact-button>.nav-link:hover {
    background-color: #2453ca;
}

.contact-button .nav-link-text {
    color: #fff !important;
}

.contact-button:hover {
    transform: scale(1.05);
}

.contact-button:active {
    transform: scale(0.98);
}

.contact-button>.nav-link:active {
    background-color: #1b42a3;
}

.header-social {
    display: flex;
    align-items: center;

    position: absolute;
    right: 142px;
}

.header-social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    transition:
        transform .2s ease-in-out;
}

.header-social-link:not(:last-of-type) {
    margin-right: 15px;
}

.header-social-link:hover {
    transform: scale(1.12);
}

.header-social-link:hover>.header-social-icon {
    stroke: var(--main-blue);
}

.header-social-link:active {
    transform: scale(.95);
}

.header-social-link:active>.header-social-icon {
    stroke: #2453ca;
}

.header-social-icon {
    width: 26px;
    stroke-width: 2;
    stroke: var(--main-black);

    filter: drop-shadow(0 0 5px #0003);
    transition:
        stroke .2s ease-in-out;
}