.about-philosophy {
    margin-top: 135px;
}

.philosophy-head-box {
    border: 3px solid var(--main-blue);
    box-shadow: 0 0 20px #2b67fc47;
}

.philosophy-head-number {
    color: var(--main-blue);
    text-shadow: 0 0 10px #2b67fc47;
}

.philosophy-head-callout {
    color: var(--main-blue);
}

.philosophy-board {
    display: flex;
    align-items: start;
    justify-content: space-between;
    position: relative;
    margin-top: 200px;
}

.philosophy-board:before {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.038);
    border: 1px solid rgba(255, 255, 255, 0.05);
    width: 100vw;
    height: 8px;
    top: -76px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -18;
}

.philosophy-pad {
    position: relative;
    flex: 1;
    border-radius: var(--border-radius);
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px #00000026;
}

.philosophy-pad:not(:last-of-type) {
    margin-right: 34px;
}

.philosophy-pad-box {
    position: absolute;
    width: fit-content;
    left: 50%;
    top: -110px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    z-index: 28;
    background-color: #2a4281;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.06);
    box-shadow: 0 2px 10px #00000032;
}

.philosophy-pad-icon {
    position: relative;
    width: 68px;
    stroke-width: 2;
    stroke: #fff;
    padding: 10px;
    filter: drop-shadow(0 0 8px #fff6);
    z-index: 28;
}

.philosophy-pad-title {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 22px;
    text-shadow: 0 0 8px #fff2;
}

.philosophy-pad-text {
    color: #fff;
    font-weight: 300;
    text-wrap: balance;
    line-height: 1.5;
    text-shadow: 0 0 15px #0005;
}

.philosophy-pad-text strong {
    font-weight: 600;
}