.about-philosophy {
    margin-top: 135px;
}

.philosophy-head-box {
    border: 3px solid var(--main-blue);
    box-shadow: 0 0 20px #2b67fc47, inset 0 0 20px #2b67fc47;
}

.philosophy-head-number {
    color: var(--main-blue);
    text-shadow: 0 0 10px #2b67fc47;
}

.philosophy-head-callout {
    color: var(--main-blue);
}

.philosophy-board {
    display: flex;
    align-items: start;
    justify-content: space-between;

    position: relative;
    margin-top: 200px;
}

.philosophy-board:before {
    content: '';

    position: absolute;
    height: 8px;
    top: -76px;
    left: 50%;

    width: 100vw;
    background-color: rgba(255, 255, 255, 0.038);
    border: 1px solid rgba(255, 255, 255, 0.05);

    transform:
        translate(-50%, -50%);
    z-index: -18;
}

.philosophy-pad {
    position: relative;
    flex: 1;

    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: var(--border-radius);

    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);

    box-shadow: 0 2px 10px #00000026;
}

.philosophy-pad:not(:last-of-type) {
    margin-right: 34px;
}

.philosophy-pad::before {
    opacity: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: radial-gradient(circle at bottom left, #a436f240 50px, transparent 400px);
    border-radius: var(--border-radius);
    z-index: 0;
    transition: opacity .2s ease;
}

.philosophy-pad:hover::before {
    opacity: 1;
}

.philosophy-pad:hover .philosophy-pad-text strong {
    margin-right: 24px;
    color: #c067ff;
}

.philosophy-pad:hover .philosophy-pad-text-icon {
    opacity: 1;
    stroke: #c067ff;
}

.philosophy-pad-box {
    position: absolute;
    left: 50%;
    top: -110px;

    width: fit-content;
    background-color: #2a4281;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.06);

    display: flex;
    align-items: center;
    justify-content: center;

    transform:
        translateX(-50%);
    z-index: 28;
    box-shadow: 0 2px 10px #00000032;
}

.philosophy-pad-icon {
    position: relative;
    width: 68px;
    padding: 10px;

    stroke-width: 2;
    stroke: #fff;

    filter: drop-shadow(0 0 8px #fff6);
    z-index: 28;
}

.philosophy-pad-title {
    text-align: center;
    font-weight: 700;
    font-size: 26px;
    
    color: #fff;
    margin-bottom: 22px;
    text-shadow: 0 0 8px #fff2;
}

.philosophy-pad-text {
    position: relative;
    color: #ededed;

    line-height: 1.5;
    font-weight: 300;
    font-size: 15px;
    text-wrap: balance;

    text-shadow: 0 0 15px #0005;
}

.philosophy-pad-text strong {
    font-weight:600;
    transition: margin-right .2s ease, color .2s ease;
}

.philosophy-pad-text-icon {
    opacity: 0;
    width: 19px;
    margin-top: 1px;
    stroke-width: 2.5;
    stroke: #fff;
    position: absolute;
    transform: translateX(-20px);
    transition: opacity .2s ease, stroke .2s ease;
}